<template>
  <q-layout>
    <q-page-container>
      <q-page class="q-pa-md">
        <q-btn @click="toggle()" label="Esconder / Mostrar Impares" />
        <BarChart :chartData="chartData" :options="options" />
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { BarChart } from "vue-chart-3";
import { Chart, registerables } from "chart.js";

Chart.register(...registerables);

import { defineComponent, onMounted, ref } from "vue";
import axios from "axios";

export default defineComponent({
  name: "Project",
  components: { BarChart },
  setup() {
    const mcoutinhoData = ref([]);
    const chartData = ref({});
    const mostrarImpares = ref(true);
    const options = ref({
      responsive: true,
      plugins: {
        legend: {
          display: false,
        },
        title: {
          display: true,
          text: "Evolução de Vendas MCoutinho",
        },
      },
    });

    function toggle() {
      mostrarImpares.value = !mostrarImpares.value;
      loadDataIntoChart();
    }

    function loadDataIntoChart() {
      chartData.value = {
        labels: mcoutinhoData.value.map((item) => {
          if (
            mostrarImpares.value == true ||
            (mostrarImpares.value == false && item.dataYear % 2 == 0)
          ) {
            return item.dataYear;
          }
        }),

        datasets: [
          {
            data: mcoutinhoData.value.map((item) => {
              if (
                mostrarImpares.value == true ||
                (mostrarImpares.value == false && item.dataYear % 2 == 0)
              ) {
                return item.dataValue;
              }
            }),
            backgroundColor: [
              "#77CEFF",
              "#0079AF",
              "#123E6B",
              "#97B0C4",
              "#A5C8ED",
            ],
          },
        ],
      };
    }

    onMounted(async () => {
      const response = await axios.get(
        "http://localhost:3000/get-scraped-data"
      );
      mcoutinhoData.value = response.data?.data;

      loadDataIntoChart();
    });

    return {
      mostrarImpares,
      mcoutinhoData,
      chartData,
      options,
      toggle,
    };
  },
});
</script>
